
#title {
	font-size: 16px;
}
a{cursor: pointer; cursor: hand;}
.lead{
    font-size: 20px;
}
.reply{
    width: 98%;
}
#content {
	font-size: 14px;
    resize:vertical;
}
#comment {
    font-size: 11px;

    resize: vertical;    
}
#childcomment{
    float:left;
}
#deletecomment{
    float:right;
    color: darkred;
}
.submittedby{
    font-size: 11px;
}
#login{
	position: absolute;
    top: 0;
    right: 20px;
}
#logout{
    position: absolute;
    top: 0;
    right: 20px;
}
#register{
	position: absolute;
	top: 20px;
	right: 20px;
}
#account{
    position: absolute;
	top: 20px;
	right: 20px;
}
#reply {
    font-size: 11px;
}
#contentid{
    font-size: 14px;
}

