#heading {
	text-align: left;
}

#login{
	position: absolute;
    top: 0px;
    right: 0px;
}

#register{
	position: absolute;
	top: 20px;
	right: 0px;
}

#table,th, td{
	border: 2px solid black;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 50%;
	height: 50px;
}

#top{
	background-color: #00FFFF;
}

#score{
	text-align: center;
	font-weight: bold;
}

#NextPage{
	position: absolute;
	top: 670px;
	left: 400px;
}

#PrevPage{
	position: absolute;
	top: 670px;
	left: 200px;
}

#HomePage{
	position: absolute;
	top: 670px;
	left: 310px;
}

#language{
	position: absolute;
	top: 700px;
	left: 0px;
}

#project{
	position: absolute;
	top: 700px;
	left: 150px;
}

#SearchSubmissionButton{
	position: absolute;
	top: 0px;
	left: 300px;
}